development:
  adapter: postgresql
  encoding: unicode
  database: keepmeup_development
  username: {username}

test:
  adapter: postgresql
  encoding: unicode
  database: keepmeup_test
  username: {username}

production:
  adapter: postgresql
  encoding: unicode
  database: keepmeup_production
  username: {username}

